*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
:root{
    --colorHeader: #6f42c1;
    --fundoBranco: white;
}
#header{
    width: 99.14vw;
    height: 16vh;
    background-color: var(--colorHeader);
}
.titleBody{
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 30px;
    color: var(--colorHeader);
    margin-left: 12px;
}
.titleCol{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}
.textBody{
    margin-top: 10px;
}
.divInfoVest{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5vh;
}
.infoVest{
    background-color: var(--fundoBranco);
    height: 20vh;
    width: 60vw;
    color: var(--colorHeader);
    font-size: 22px;
}
.imgVest{
    display: flex;
    align-items: center;
    justify-content: center;
}
#imgVest{
    margin-top: 5vh;
    width: 60vw;
}
.divCursos{
    background-color: var(--fundoBranco);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 7vh;
}
.colCurso{
    margin-top: 5vh;
    background-color: var(--fundoBranco);
    height: 20vh;
    
}
.cursosTwo{
    display: flex;
    position: relative;
}
.colCursoTwo{
    margin-top: 3vh;
    margin-left: 3.8vw;
    width: 20vw;
    height: 20vh;
    background-color: var(--fundoBranco);
}
.buttonDefault{
    width: 10vw;
    height: 6vh;
    background-color: var(--colorHeader);
    border: 1px solid var(--colorHeader);
    border-radius: 5px;
    color: white;
}
.imgCenter{
    margin-top: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.imgIcone{
    width: 120px;
}
.divBtnQuiz{
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer{
    margin-top: 16vh;
    width: 100vw;
    height: 13vh;
    background-color: var(--colorHeader);
}
